<table class="table">
    <thead>
      <tr>
        <th scope="col">Lp.</th>
        <th scope="col">Kod pocztowy</th>
        <th scope="col">Miejscowość</th>
        <th scope="col">Ulica</th>
        <th scope="col">Nr budynku</th>
        <th scope="col">Opis</th>
        <th scope="col">Operacje</th>
      </tr>
    </thead>
    <tbody *ngFor="let p of allHouses$ | async; index as i">  
      
      <tr >
        <td>{{i+1}}</td>
        <td>{{p.postCode}}</td>
        <td>{{p.town}}</td>
        <td>{{p.street}}</td>
        <td>{{p.houseNumber}}</td>
        <td>{{p.description}}</td>
        <td>
            <button type="button"  class="btn btn-primary " (click)="addSensorOption(p.houseId)">Dodaj czujniki</button>
            <button type="button" class="btn btn-warning" (click)="statusSensorOption(p.houseId)">Stan czujników</button>
            <button type="button" class="btn btn-success" (click)="layoutSensorOption(p.houseId)">Historia</button>
            <button type="button" class="btn btn-danger" (click)="delHouse(p.houseId)">Usuń dom</button>      
        </td>
      </tr>
      <tr *ngIf="selectedHouse == p.houseId && operacja !=0"> 
        <td colspan="7">
          <div *ngIf="operacja ==0"></div>
          <div *ngIf="operacja ==1"><app-add-sensors [houseId]="p.houseId" [plan]="p.image"></app-add-sensors></div>
          <div *ngIf="operacja ==2"><app-view-sensors [houseId]="p.houseId"></app-view-sensors></div>
         
        </td>
      </tr>
    
 
    </tbody>
  </table>


